$gray: #efeded;
$black: #121111;
$body-color: $black;
$primary: #947CA7;
$light-gray: #cecece;
$headings-font-weight: 700;
$spacer-y: 2.375rem;
$link-color: $black;
$link-decoration: none;
$link-hover-color: $primary;
$link-hover-decoration: none;
$hr-border-color: $black;
$hr-border-width: 1px;
$hr-margin-y: $spacer-y;
$h1-font-size: 2.625rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.3rem;
$h5-font-size: 1.3rem;
$h6-font-size: 1.3rem;
$grid-gutter-width: 32px;
$line-height-base: 1.25;
$headings-margin-bottom: 1.5rem;
$font-family-monospace: 'Source Code Pro', monospace;

@import "../../../node_modules/bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 640px;
  font-family: 'Karla', $font-family-base;
  background-color: $gray;
  font-size: 1.25rem;
}

.body-default:after {
  z-index: -1;
  height: 220px;
  min-width: 320px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $white;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHByZXNlcnZlQXNwZWN0UmF0aW89J25vbmUnIHZpZXdCb3g9JzAgMCAxMDAgMTAwJz48cG9seWdvbiBwb2ludHM9JzAsMTAwIDEwMCwxMDAgMCwwJyBmaWxsPScjZWZlZGVkJyBvcGFjaXR5PScxJz48L3BvbHlnb24+PC9zdmc+");
  background-repeat: no-repeat;
  border-top: 190px solid $white;
  content: "";
}

.body-clean {
  background-color: $white;
}

.bg-dark {
  background-color: $black !important
}

main {
  min-height: calc(100vh - 254px);
}

.body-default main {
  padding-bottom: $spacer-y;
}

.body-single-page main {
  padding-bottom: 0;
}

article {
  font-size: 1.25rem;
}

article img {
  max-width: 100%;
  height: auto;
}

.navbar {
  min-height: 72px;
}

.masthead {
  height: 100vh;
  min-height: 640px;
  margin-bottom: -$spacer-y;
  padding: 220px 0 $spacer-y;

  a {
    border-bottom-width: 5px;
  }
}

.masthead-container {
  min-height: 100%;
}

main a, .link-bordered {
  border-bottom: 3px solid $black;

  &:hover {
    color: $black;
    border-bottom-color: $primary;
  }
}

main h1 a {
  border-bottom-width: 4px;
}

main small a, footer small a {
  border-bottom-width: 2px;
}

.navbar-brand .logo {
  width: 152px;
  height: 30px;
}

.navbar-open {
  position: relative;
  width: 28px;
  height: 32px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.navbar-toggler {
  .icon-bar {
    background-color: $black;
    position: absolute;
    width: 28px;
    height: 3px;
    left: 0;
    right: 0;
  }

  .top-bar {
    top: 4px;
  }

  .middle-bar {
    top: 14px;
  }

  .bottom-bar {
    top: 24px;
  }
}

.team-member-list-item {
  margin-bottom: 3rem;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.team-member-list-item-box {
  margin-top: -25px;
}

.project-list, .post-list {
  a {
    border-bottom-width: 0;
  }
}

.project-list {
  .project-list-item {
    &:last-child hr {
      display: none;
    }
  }
}

.back-link {
  border-bottom-width: 0;
  font-size: 3rem;
}

.back-to-top-link {
  border-bottom-width: 0;
  font-size: 1.25rem;
  padding-top: 70px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAwCAYAAAAPfWqeAAAACXBIWXMAAAsSAAALEgHS3X78AAAAuUlEQVRYhe3V0Q3DIAwE0HMnYBRG6AgdnRE6QjZwREUllBbw0Z9+HFKkCGIeEDDm7mCKmT0APN29UIEVij4A7jUEwAEgU7EEkhvgO9guQmMscp1RGGOR3EEfbVvQqKM3NPsmDM066CEGo5BvUBSjkBEUGiC9BANoueT0T51Ai01EbtMFNDkWSABK+OAFoAtWXkarTOFUEoQ6LNX3nWvCW9Y3Ju5GKT8UQYIECRIkSJAgQYIECfpnCMAJgGMOG0R+VBYAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-position: center 10px;
  display: inline-block;
  position: relative;
  z-index: 1;

  @include hover-focus {
    color: $black;
  }
}

.next-section-link {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAeCAYAAAAy2w7YAAAACXBIWXMAAAsSAAALEgHS3X78AAAA30lEQVRIie3W0Q2DIBAG4F8XkBEgYYCO4AgdoZu1G3SEdoQOQCIrOAHNGWwJLXgoj/wJD0a8L0dQ6Zxz4EZLNQJ40HRjp479IIC+ZPKRNKhBDWpQg2pDWqoTjdrFtVRnLZVYIA88adTEtFQXAHdfV4RLN9TCPHL1lxKA6I2dXgDozznXwCKEao7GTnbpqBaWQKj2d9cdxXII4u29F6PdlUN+oD2Yv3fLIX+hEix4NYYckoRSGIAPVoJQNg+QUcEwMxdhQQxsEwH3oxotYzFCKT17r51R2EgxFGBrl7wAeAM5vJBsVFeQuQAAAABJRU5ErkJggg==');
  display: inline-block;
  width: 26px;
  height: 30px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.body-default, .body-clean {
  .navbar {
    background-color: $white;
  }
}

.body-dark {
  background-color: $black;
  color: $white;

  .header-title {
    color: $black;
  }

  a {
    color: $white;
  }

  main a, .link-bordered {
    border-bottom-color: $white;

    &:hover {
      color: $white;
      border-bottom-color: $primary;
    }
  }

  hr {
    border-color: $white !important;
  }

  &:after {
    min-width: 320px;
    z-index: -1;
    height: 220px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHByZXNlcnZlQXNwZWN0UmF0aW89J25vbmUnIHZpZXdCb3g9JzAgMCAxMDAgMTAwJz48cG9seWdvbiBwb2ludHM9JzAsMTAwIDEwMCwxMDAgMCwwJyBmaWxsPScjMTIxMTExJyBvcGFjaXR5PScxJz48L3BvbHlnb24+PC9zdmc+");
    border-top: 190px solid $white;
    border-bottom: 2px solid $black;
    content: "";
  }
}

.header-title {
  margin-top: 48px;
}

.fixed-top .header-title {
  margin-top: 120px;
}

.body-default, .body-clean, .body-dark {
  .header-title {
    margin-bottom: 74px;
    min-height: 60px;
    text-align: center;
  }
}

.body-detail .navbar {
  background-color: $gray;
}

.post-list-item-image-container {
  background-color: $primary;
  transition: .5s ease;

  @include hover-focus {
    background-color: unset;
  }
}

.post-list-item-image {
  opacity: 0.4;
  transition: .5s ease;

  @include hover-focus {
    opacity: 1;
  }
}

.navbar-nav-language {
  .nav-item-language {
    .nav-link {
      display: inline-block;
    }
  }
}

.nav-divider:after {
  content: '/';
  font-weight: normal;
  margin: 0 10px;
}

.body-single-page footer {
  padding-top: $spacer-y;
}

footer .nav-item {
  font-size: 80%;
}

.code-separator {
  border: 0;
  padding: 0;
  text-align: center;
  color: $black;
  font-size: 30px;
  vertical-align: middle;
  height: 4.75rem;
  line-height: 4.75rem;
  margin: 0 0 1rem;

  &:after {
    content: "</>";
  }
}

.body-single-page {
  header {
    height: 140px;
  }

  .masthead {
    margin-bottom: 0;
    height: auto;
    padding: 0;
    min-height: calc(100vh - 220px);
    margin-top: 90px;
  }

  .h1, h1 {
    font-size: 2.375rem;
  }

  main {
    ul {
      list-style-position: outside;
      padding-left: 18px;
    }

    li {
      margin-bottom: 1rem;
    }
  }

  .btn {
    border: 2px solid $black;
    font-family: monospace;
    font-size: 1.25rem;
    border-radius: 0;
    position: relative;
    padding: 10px 40px 14px;

    &:after {
      content: "";
      border-bottom: 2px solid $black;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 3px;
    }

    &:hover:after {
      border-bottom: 5px solid $black;
      bottom: 0;
    }

    &:active {
      font-weight: bold;
    }
  }


  .single-page-section {
    position: relative;
    z-index: 1;
    min-height: 30rem;

    &:nth-of-type(2n+1) {
      background-color: $white;

      .single-page-section-index {
        color: $gray;
      }

      &:before {
        height: 30px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $white;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHByZXNlcnZlQXNwZWN0UmF0aW89J25vbmUnIHZpZXdCb3g9JzAgMCAxMDAgMTAwJz48cG9seWdvbiBwb2ludHM9JzAsMCAwLDEwMCAxMDAsMCcgZmlsbD0nI2VmZWRlZCcgb3BhY2l0eT0nMSc+PC9wb2x5Z29uPjwvc3ZnPg==");
        background-repeat: no-repeat;
        content: "";
      }
    }

    &:nth-of-type(2n) {
      background-color: $gray;

      .single-page-section-index {
        color: $white;
      }

      &:before {
        height: 30px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $white;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHByZXNlcnZlQXNwZWN0UmF0aW89J25vbmUnIHZpZXdCb3g9JzAgMCAxMDAgMTAwJz48cG9seWdvbiBwb2ludHM9JzAsMTAwIDEwMCwxMDAgMCwwJyBmaWxsPScjZWZlZGVkJyBvcGFjaXR5PScxJz48L3BvbHlnb24+PC9zdmc+");
        background-repeat: no-repeat;
        content: "";
      }
    }
  }

  .single-page-section-index {
    position: absolute;
    z-index: -1;
    font-weight: bold;
    font-size: 30rem;
    line-height: 30rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    display: flex;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 15px;
  }

  .single-page-section-content {
    margin-top: 15px;
  }
}

@media (max-width: 360px) {
  html {
    font-size: small;
  }

  .masthead {
    min-height: 550px;
  }
}

.overlay-content {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

@include media-breakpoint-down(md) {
  .overlay {
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: $black;
    color: $white;
    overflow-y: auto;
    display: flex;
    align-content: flex-end;

    .overlay-content {
      padding: 0 25px 25px;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-end;
    }

    .navbar-close {
      position: absolute;
      top: 0;
      right: 24px;
      font-size: 62px;
      border: 0;
      padding: 0;
    }

    .navbar-nav {
      flex-basis: 100%;
      line-height: 1.15;

      .nav-link {
        font-size: 42px;
        color: $white;

        @include hover-focus {
          color: $light-gray;
        }
      }

      .nav-item {
        flex-basis: 100%;
      }

      .nav-item:not(.nav-item-language) {
        .nav-link-active:after {
          content: '';
          position: relative;
          height: 11px;
          width: 11px;
          font-size: 1rem;
          background-color: #fff;
          border-radius: 11px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 14px;
        }

        .nav-link-active:hover:after {
          background-color: $light-gray;
        }
      }

      .nav-divider:after {
        font-size: 42px;
      }
    }

    .navbar-nav-language {
      flex-direction: row;
      margin-top: 1rem;

      .nav-link-active {
        font-weight: bold;
      }

      .nav-item-language {
        flex-basis: auto;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: large;
  }

  body {
    line-height: 1.5;
  }

  main {
    min-height: calc(100vh - 284px);
  }

  .body-default, .body-clean {
    .header-title {
      text-align: left;
    }
  }

  .body-default {
    .header-title {
      visibility: hidden;
    }
  }

  .body-default:after {
    height: 250px;
  }

  .header-title {
    margin-top: 174px;
  }

  .body-default, .body-clean {
    .header-title {
      min-height: 90px;
      margin-bottom: 20px;
    }
  }

  .body-dark {
    .header-title {
      color: $white;
    }
  }

  .team-member-list-item-box {
    margin-top: -40px;
  }

  .team-member-list-item {
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  .masthead {
    padding-top: 270px;
  }

  .navbar {
    min-height: 90px;
  }

  .nav-divider:after {
    margin: 0;
  }

  .next-section-link {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAA8CAYAAADykDOkAAAACXBIWXMAAAsSAAALEgHS3X78AAABZUlEQVRoge3Z/03DMBCG4e+q/k9GYIMyApvACIzUUTpCRukGRi4GTEj8674eQbpXstSkkfuoihS1hxACfQG4AAhpPbP3P+Af5mirHG2Vo61ytFWOtsrRVjnaKkdb5WirHG2Vo61ytFWOtsrRVjnaKkdb9YUWkSmuvUJF5PHz9SGdmNLI4bJHuIg8AZhF5ByPjxn4lK6J8Dgnuf4t9aMEjr4HAC8isnpPn/byjS/A36VpVATO2UQqpONpZPrEmG4BiODrwnS+vZddRINr0SXwDzQTrkHXwL/QLPgougW8imbAR9Ct4E20Ft6L7gEX0Rp4D7oXXEWPwlvRI+Am9Ai8BT0Kbkb3wmtoDbgL3QMvobXgbnQrfAvNAA+hW+BraBZ4GF2DL9FMsApdgefn3phgNboALy0VmILuhKvBNHQjnAKmoitwGpiO3oBTwXFJ+iBq2S/8OYTwSt//HujbxiLxQcP/GwLAOz3DgY8zdfH7AAAAAElFTkSuQmCC');
    width: 45px;
    height: 60px;
  }

  .project-list {
    .project-list-item {
      &:nth-last-child(2):nth-child(odd) hr {
        display: none;
      }
    }
  }

  .body-single-page {
    .masthead {
      padding-top: 0;
    }

    .single-page-section {
      &:nth-of-type(2n+1) {
        &:before {
          height: 60px;
        }
      }

      &:nth-of-type(2n) {
        &:before {
          height: 60px;
        }
      }
    }

    .single-page-section-index {
      font-size: 31rem;
      margin-top: 30px;
    }

    .single-page-section-content {
      margin-top: 60px;
    }
  }

  .overlay {
    .navbar-nav {
      .nav-item {
        margin: 0 10px;

        .nav-link {
          position: relative;
        }

        .nav-link-active:after {
          content: '';
          display: inline-block;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 8px;
          width: 8px;
          font-size: 1rem;
          background-color: $black;
          border-radius: 8px;
          right: 0;
          margin: 0 auto;
        }

        .nav-link-active:hover:after {
          background-color: $primary;
        }
      }

      .nav-item-language {
        margin: 0;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  main {
    min-height: calc(100vh - 320px);
  }

  .body-default:after {
    height: 270px;
  }

  .body-single-page {
    .single-page-section {
      &:nth-of-type(2n+1) {
        &:before {
          height: 80px;
        }
      }

      &:nth-of-type(2n) {
        &:before {
          height: 80px;
        }
      }
    }

    .single-page-section-index {
      margin-top: 40px;
    }

    .single-page-section-content {
      margin-top: 80px;
    }
  }

  .masthead {
    h1, .h1 {
      font-size: 3.5rem;
    }
  }

  .header-title {
    margin-top: 200px;
  }

  .body-default, .body-clean {
    .header-title {
      margin-bottom: 30px;
    }
  }
}